body{
    background-color:  #007ebd;
    
}


section {
    align-content: center;
    margin: auto;
}

.login {
    display: flex;
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:23em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container {
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
}

#login-logo{
    width: 60%;
}

.container > button{
    /*Part of it is from w3schools*/
    background-color: #0d579b;
    border: none;
    color: white;
    text-align: center;
    margin-top: 5px;
    padding: 5%;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-width: 5px;
    border-color: #0d579b;
    border-radius: 5px;
}

.container > button:hover{
    background-color: #093d6e;
}

a{
    color:#5ecaff;
}

#email, #psw {
    padding: 12px 20px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin:auto;
    margin-bottom: 5px;
  }

  .login-header{
    display:flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .login-header > .empty {
      width: 33%;
      height: 100%;
  }

  .login-header > span{
      width: 33%;
      height: 100%;
  }