section {
    align-content: center;
    margin: auto;
}

.login {
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.container {
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
}