* {
    font-family: 'Roboto Slab', serif;
}
section {
    background-color: #007ebd;
    width: 100%;
    align-content: center;
}
.post-logs {
    margin: auto;
    background-color: white;
    max-width: 40%;
    align-content: center;
    padding: 120px 100px 70px 100px;
}

.post {
    background-color: white;
    text-align: center;
    margin: auto;
    max-width: 100%;
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px #858585;
}

.post-picture {
    width: 100%;
}
.post-picture:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
h1 {
    text-align: left;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav div img {
    width: 30px;
    margin: 10px;
}
.profile-picture {
    width: 30px;
    margin: 10px;
    cursor: pointer;
}
.like-button img {
    width: 40px;
    margin: 10px;
    cursor: pointer;
}
button {
    background-color: #334ba3;
    color: white;
    border: none;
    cursor: pointer;
    height: 29px;
    width: 95px;
    border-radius: 3px;
}
.search-container {
    align-items: center;
    padding-right: 15px;
}
.search-container input {
    width: 620px;
    height: 25px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: thin;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-footer {
    display: flex;
}
.date {
    color: #858585;
    margin: 10px;
}
.post-info h1 {
    margin: 10px;
}
.search-input {
    width: 30em;
}